<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="./static/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@3.7.0"> </script>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <canvas id="myCanvas" width="280" height="280" style="border:1px solid #000000;"></canvas>
    <canvas id="dummyCanvas" width="280" height="280" style="border:1px solid #000000;" hidden="hidden"></canvas>
    <button onclick="predictImage();">Submit</button>
    <button onclick="ClearCanv();">Clear</button>
    <script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>
  </body>
</html>